* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color: #0d0701;
  font-size: 1.5vw;
  background-color: #0d0701;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d0701;
}

h1 {
  font-family: "TTNormsPro";
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  padding-bottom: 35px;
  position: absolute;
  top: 50px;
  left: 130px;
}

h2 {
  text-align: center;
  padding-bottom: 35px;
}

h3 {
  text-align: center;
  padding-bottom: 25px;
}

.text-bold {
  font-family: "Montserrat";
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.top {
  padding-top: 55px;
}

.active {
  color: red;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(143, 122, 115, 0.57);
  padding-bottom: 7px;
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 15px;
  z-index: 150;
}

.bottomToTop {
  width: 0;
  height: 0;
  margin: 17px 12px 15px;
  border-top: 0 solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #0d0701;
  border-left: 12px solid transparent;
  cursor: pointer;
}

.scroll-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(143, 122, 115, 0.57);
  padding-top: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 150;
}

.bottomToBottom {
  width: 0;
  height: 0;
  margin: 17px 12px 15px;
  border-top: 12px solid #0d0701;
  border-right: 12px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 12px solid transparent;
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@font-face {
  font-family: "Comforter";
  src: url("../fonts/Comforter/Comforter-Regular_400.eot") format("opentype"), url("../fonts/Comforter/Comforter-Regular_400.ttf") format("truetype"), url("../fonts/Comforter/Comforter-Regular_400.woff") format("woff"), url("../fonts/Comforter/Comforter-Regular_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fredericka";
  src: url("../fonts/Fredericka/Fredericka_the_Great_Regular_400.eot") format("opentype"), url("../fonts/Fredericka/Fredericka_the_Great_Regular_400.ttf") format("truetype"), url("../fonts/Fredericka/Fredericka_the_Great_Regular_400.woff") format("woff"), url("../fonts/Fredericka/Fredericka_the_Great_Regular_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gabelisa";
  src: url("../fonts/Gabelisa/Gabelisa_Regular_400.eot") format("opentype"), url("../fonts/Gabelisa/Gabelisa_Regular_400.ttf") format("truetype"), url("../fonts/Gabelisa/Gabelisa_Regular_400.woff") format("woff"), url("../fonts/Gabelisa/Gabelisa_Regular_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat_Regular_400.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat_Regular_400.woff") format("woff"), url("../fonts/Montserrat/Montserrat_Regular_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat_Bold_700.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat_Bold_700.woff") format("woff"), url("../fonts/Montserrat/Montserrat_Bold_700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat_ExtraBold_800.eot") format("opentype"), url("../fonts/Montserrat/Montserrat_ExtraBold_800.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat_ExtraBold_800.woff") format("woff"), url("../fonts/Montserrat/Montserrat_ExtraBold_800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha/Neucha_400.eot") format("opentype"), url("../fonts/Neucha/Neucha-Regular_400.ttf") format("truetype"), url("../fonts/Neucha/Neucha_400.woff") format("woff"), url("../fonts/Neucha/Neucha_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light_300.eot") format("opentype"), url("../fonts/Roboto/Roboto-Light_300.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light_300.woff") format("woff"), url("../fonts/Roboto/Roboto-Light_300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular_400.eot") format("opentype"), url("../fonts/Roboto/Roboto-Regular_400.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular_400.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium_500.eot") format("opentype"), url("../fonts/Roboto/Roboto-Medium_500.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium_500.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium_500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold_700.eot") format("opentype"), url("../fonts/Roboto/Roboto-Bold_700.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold_700.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold_700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black_900.eot") format("opentype"), url("../fonts/Roboto/Roboto-Black_900.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Black_900.woff") format("woff"), url("../fonts/Roboto/Roboto-Black_900.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTNormsPro/TTNormsPro-Light.eot") format("opentype"), url("../fonts/TTNormsPro/TTNormsPro-Light.ttf") format("truetype"), url("../fonts/TTNormsPro/TTNormsPro-Light.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTNormsPro/TTNormsPro-Medium.eot") format("opentype"), url("../fonts/TTNormsPro/TTNormsPro-Medium.ttf") format("truetype"), url("../fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTNormsPro/TTNormsPro-Bold.ttf") format("truetype"), url("../fonts/TTNormsPro/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.header {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__quote {
  font-size: 2vw;
  color: #d7a45c;
  position: absolute;
  top: 20vw;
  left: 50vw;
}

.header-img {
  width: 100vw;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  padding: 15px;
  border: 1px solid #d7a45c;
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-item__link {
  color: #d7a45c;
}
.menu-item:hover {
  background-color: #d7a45c;
  border: 1px solid #0d0701;
}
.menu-item:hover .menu-item__link {
  color: #0d0701;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  height: auto;
}

.book-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.book-info__description {
  margin-bottom: 10px;
}

.book-poster {
  width: 25vw;
  height: 30vw;
  margin: 0 3vw 0 0;
  background-image: url("./../img/1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.book-poster:hover {
  background-image: url("./../img/2.jpg");
}

.book-info-block {
  width: 55vw;
}

.book-info-wrapper {
  width: 100%;
  background-color: #d7a45c;
  padding: 35px 45px;
}

input::-webkit-input-placeholder {
  font-size: 1vw;
}

input::-moz-placeholder {
  font-size: 1vw;
}

input:-ms-input-placeholder {
  font-size: 1vw;
}

input::-ms-input-placeholder {
  font-size: 1vw;
}

input::placeholder {
  font-size: 1vw;
}

.payment {
  width: 35%;
}

.buy-book {
  font-family: "Montserrat";
  font-weight: 800;
}

.book-buy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 35px 45px;
  background-color: rgba(250, 216, 169, 0.9254901961);
}

.book_type_selection {
  margin-bottom: 25px;
}

.book-type-choice {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  vertical-align: middle;
  margin: 0 15px 15px;
}

.book_type_selection input[type=radio]:checked {
  background-color: #0d0701;
  border-color: #ffffff;
}

.book-buy-info {
  text-align: center;
  padding-top: 150px;
  font-weight: bold;
}

.book-quantity-sold-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 25px;
}

.delivery-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-post {
  width: 50px;
  margin-left: 5px;
}

form input {
  height: 35px;
  padding: 5px;
}

.congrats-purchase-text {
  display: none;
  color: rgb(135, 33, 13);
}

.form-input-style {
  width: 15vw;
  font-size: 1vw;
}

.form-button-buy {
  width: 10vw;
  height: 35px;
  margin-top: 25px;
  font-size: 1.3vw;
  color: white;
  background-color: #0d0701;
  border-radius: 5px;
  cursor: pointer;
}

.ebook-quantity-sold,
.pbook-quantity-sold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5vw;
  color: #c52c11;
}

.book-sold {
  text-align: center;
}

.book-characters-wrapper {
  width: 100%;
  height: auto;
  background-color: #cfac7c;
  padding: 35px 45px;
}

.book-characters__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.book-characters__box {
  margin: 15px 15px;
}
.book-characters__img {
  width: 170px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.book-characters__img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-window-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 222px;
  height: 250px;
  background-color: rgba(240, 248, 255, 0.73);
  margin: 0 15px 15px 0;
  cursor: pointer;
}
.card__img {
  width: 100%;
}
.card__img-mod-wind {
  width: 17vw;
  margin: 25px;
}
.card__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}
.card__title {
  color: rgb(49, 49, 49);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-book {
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.info-style {
  padding-bottom: 15px;
}

.info-style-bottom {
  padding-bottom: 55px;
}

.info-style-bold {
  font-family: "TTNormsPro";
  font-weight: 700;
}

.modulWind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 25px;
  height: 100%;
}

.book-read-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(250, 216, 169, 0.9254901961);
  padding: 35px 45px;
}

.read-book-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.read-book__text {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: rgba(250, 216, 169, 0.9254901961);
}

::-webkit-scrollbar-thumb {
  background: #0d0701;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.book-comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: #d7a45c;
  padding: 35px 45px;
}

.book-comments-block {
  width: 100%;
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.book-comment-box {
  background-color: rgba(255, 245, 196, 0.5058823529);
  border-radius: 15px;
  padding: 55px;
  margin: 5px;
}

.user-name {
  margin-bottom: 25px;
}

.book-comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 50px 0 5px;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.input-label {
  font-size: 15px;
}

.input-name {
  font-family: "Montserrat";
  font-weight: 400;
  width: 50vw;
  height: 45px;
  padding: 10px;
  background-color: rgba(250, 216, 169, 0.9254901961);
  border: 1px solid #0d0701;
}

.comment {
  font-family: "Montserrat";
  font-weight: 400;
  width: 50vw;
  height: 270px;
  padding: 10px;
  background-color: rgba(250, 216, 169, 0.9254901961);
  border: 1px solid #0d0701;
}

.comment-button-send {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #0d0701;
  background-color: #75400b;
  color: #ffffff;
  cursor: pointer;
}

.error-comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3vw;
}

.warning,
.warning-buy {
  display: none;
  color: rgb(217, 25, 25);
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 170px;
  margin-top: 100px;
  background-color: #0d0701;
  overflow: hidden;
}

.footer-contacts-wrapper {
  color: #ffffff;
}

.footer-contacts-text {
  font-size: 1vw;
  padding-top: 15px;
}

@media (max-width: 992px) {
  body {
    font-size: 2vw;
  }
  .payment {
    width: 55%;
  }
  .form-input-style {
    width: 25vw;
    font-size: 1.7vw;
  }
  input::-webkit-input-placeholder {
    font-size: 1.5vw;
  }
  input::-moz-placeholder {
    font-size: 1.5vw;
  }
  input:-ms-input-placeholder {
    font-size: 1.5vw;
  }
  input::-ms-input-placeholder {
    font-size: 1.5vw;
  }
  input::placeholder {
    font-size: 1.5vw;
  }
  .modal-window-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    text-align: justify;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: white;
    padding: 15px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .top {
    padding-top: 5px;
  }
  .info-style-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .card__img-mod-wind {
    width: 21vw;
    margin: 15px;
  }
  .form-button-buy {
    width: 15vw;
    font-size: 1.7vw;
  }
  .error-comment-box {
    font-size: 1.7vw;
  }
  .footer-contacts-text {
    font-size: 1.5vw;
  }
}
@media (max-width: 607px) {
  body {
    font-size: 2.5vw;
  }
  .menu-item {
    font-size: 2vw;
  }
  .book-info-wrapper,
  .book-characters-wrapper,
  .book-comments-wrapper,
  .book-comment-box {
    padding: 15px 25px;
  }
  .payment {
    width: 75%;
  }
  .form-input-style {
    width: 35vw;
    font-size: 2vw;
  }
  input::-webkit-input-placeholder {
    font-size: 2vw;
  }
  input::-moz-placeholder {
    font-size: 2vw;
  }
  input:-ms-input-placeholder {
    font-size: 2vw;
  }
  input::-ms-input-placeholder {
    font-size: 2vw;
  }
  input::placeholder {
    font-size: 2vw;
  }
  .form-button-buy {
    width: 20vw;
    font-size: 2.5vw;
  }
  .ebook-quantity-sold,
  .pbook-quantity-sold {
    font-size: 5vw;
  }
  .scroll-top {
    right: 5px;
  }
  .scroll-bottom {
    right: 5px;
  }
  .error-comment-box {
    font-size: 2.5vw;
  }
  .footer-contacts-text {
    font-size: 2vw;
  }
}
@media (max-width: 457px) {
  body {
    font-size: 3.5vw;
  }
  .menu-item {
    font-size: 2.5vw;
  }
  input::-webkit-input-placeholder {
    font-size: 2.5vw;
  }
  input::-moz-placeholder {
    font-size: 2.5vw;
  }
  input:-ms-input-placeholder {
    font-size: 2.5vw;
  }
  input::-ms-input-placeholder {
    font-size: 2.5vw;
  }
  input::placeholder {
    font-size: 2.5vw;
  }
  .scroll-top {
    width: 25px;
    height: 25px;
    top: 50px;
  }
  .bottomToTop {
    margin: 10px 8px 7px 8px;
    border-top: 0 solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0d0701;
    border-left: 5px solid transparent;
  }
  .scroll-bottom {
    width: 25px;
    height: 25px;
    bottom: 100px;
  }
  .bottomToBottom {
    width: 0;
    height: 0;
    margin: 7px 8px 4px 8px;
    border-top: 5px solid #0d0701;
    border-right: 5px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
  }
  .payment {
    width: 100%;
  }
  .form-button-buy {
    width: 30vw;
    font-size: 3.5vw;
  }
  .form-input-style {
    width: 35vw;
    font-size: 3.5vw;
  }
  .error-comment-box {
    font-size: 3.5vw;
  }
  .footer-contacts-text {
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */