//BASIC =====================================================================================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include font-montserrat-r;
    @include hyphens;
    color: $color-b;
    font-size: $font-size-main;
    background-color: $color-b;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-b;
}

h1 {
    @include font-ttnormspro-b;
    font-size: 7vw;
    text-align: center;
    padding-bottom: $padding-bottom;
    position: absolute;
    top: 50px;
    left: 130px;
}

h2 {
    text-align: center;
    padding-bottom: $padding-bottom;
}

h3 {
    text-align: center;
    padding-bottom: $padding-bottom-small;
}

//ADDITIONAL =====================================================================================================

.text-bold {    
    @include font-montserrat-exb;
}

.bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-red {
    color: red;
}

.text-white {
    color: white;
}

.top {
    padding-top: 55px;
}

.active {
    color: $color-j;
}

//SCROLL =====================================================================================================

.scroll-top {
    @include flex-jc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(143 122 115 / 57%);
    padding-bottom: 7px;
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 150;
}

.bottomToTop {
    width: 0;
    height: 0;
    margin: 17px 12px 15px;
    border-top: 0 solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $color-b;
    border-left: 12px solid transparent;
    cursor: pointer;
}

.scroll-bottom {
    @include flex-jc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(143 122 115 / 57%);
    padding-top: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 150;
}

.bottomToBottom {
    width: 0;
    height: 0;
    margin: 17px 12px 15px;
    border-top: 12px solid $color-b;
    border-right: 12px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 12px solid transparent;
    cursor: pointer;
}

//PAGE =====================================================================================================

.container {
    @include flex-fd(space-between, center);
    // width: $container-width;
    margin: 0 auto;
}

