.header {
    width: 100%;
    max-height: 100vh;
    // background-image: url(/img/header.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-color: $color-c;
    position: relative;
    overflow: hidden;

    &__quote {
        font-size: 2vw;
        color: $color-c;
        position: absolute;
        top: 20vw;
        left: 50vw;
    }
}

.header-img {
    width: 100vw;
}

.menu-list {
    @include flex-jc
}

.menu-item {
    padding: $padding;
    border: 1px solid $color-c;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all .5s;

    &__link {
        color: $color-c;
    }

    &:hover {
        background-color: $color-c;
        border: 1px solid $color-b;
    }

    &:hover .menu-item__link {
        color: $color-b;
    }
}