main {
    @include flex-fd;
    width: $block-width;
    height: auto;
}

.book-info {
    @include flex-jc;

    &__description {
        margin-bottom: 25px;
    }
}

.book-poster {
    width: 25vw;
    height: 30vw;
    margin: 0 3vw 3vw 0;
    background-image: url('/img/1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-image: url('/img/2.jpg');
    }
}

.book-info-wrapper {
    width: 100%;
    background-color: $color-c;
    padding: $padding-container;
}

//BUY =============================================

.book-buy-wrapper {
    @include flex-fd;
    width: 100%;    
    padding: $padding-container;
    background-color: $color-g;
}

.book_type_selection {
    margin-bottom: 25px;
}

.book-type-choice {
    appearance: none; // hide the default style - сховати стиль по замовчуванню
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $color-a;
    border: 2px solid $color-a;
    vertical-align: middle;
    margin: 0 15px 15px;
}

.book_type_selection input[type="radio"]:checked {
    background-color: $color-b;
    border-color: $color-a;
}

.book-buy {
    &__block {
        @include flex-jc;
    }

    &__box {
        border: 3px solid $color-b;
        border-radius: 15px;
        padding: $padding;
    }

    &__button {
        font-size: 1.5vw;
        background-color: $color-c;
        padding: $padding;
        margin: 0 15px 35px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }

    &:hover {
        background-color: $color-d;
    }
}

.book-quantity-sold-block {
    @include flex-jc;
    margin-top: 50px;
}

.delivery-method {
    @include flex-jc;
    
}

.number-post {
    width: 70px;
}

form input {
    height: 35px;
    padding: 5px;
}

.congrats-purchase-text {
    display: none;
    color: rgb(135, 33, 13);
}

//CHARACTERS =============================================

.book-characters-wrapper {
    width: 100%;
    height: auto;
    background-color: $color-d;
    padding: $padding-container;
}

.book-characters {
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__box {
        margin: 15px 15px;
    }

    &__img {
        width: 170px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.modal-window-info-block {
    @include flex-jc;
}

.card {
    width: 222px;
    height: 250px;
    background-color: rgba(240, 248, 255, 0.73);
    margin: 0 15px 15px 0;
    cursor: pointer;
  
    &__img {
      width: 100%;
    }
  
    &__img-mod-wind {
      width: 17vw;
      margin-bottom: 25px;
    }
  
    &__title-box {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100px;
      align-items: center;
      text-align: center;
      padding: 10px;
      overflow: hidden;    
    }
  
    &__title {
      color: rgb(49, 49, 49);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  .info-style-title {
    margin-bottom: 25px;
  }

//READ =============================================

.book-read-wrapper {
    width: 100%;
    height: auto;
    background-color: $color-g;
    padding: $padding-container;
}

.read-book-block {
    @include flex-fd;
    align-items: center;
    width: 100%;
    height: auto;
}

//COMMENTS =============================================

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    background: $color-g; // Колір фону скролбару
}

::-webkit-scrollbar-thumb {
    background: $color-b; // Колір скролбару
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.book-comments-wrapper {
    @include flex-fd;
    width: 100%;
    height: auto;
    background-color: $color-c;
    padding: $padding-container;
}

.book-comments-block {
    width: 100%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.book-comment-box {
    background-color: $color-h;
    border-radius: 15px;
    padding: 55px;
    margin: 35px;
}

.user-name {
    margin-bottom: 25px;
}

.book-comments-form {
    @include flex-fd;
    margin: 50px 0 5px;
}

.comment-form {
    @include flex-fd;
}

.form-group {
    @include flex-fd(center, flex-start);
    margin-bottom: 10px;
}

.input-label {
    font-size: 15px;
}

.input-name {
    @include font-montserrat-r;
    width: 500px;
    height: 45px;
    padding: 10px;
    background-color: $color-g;
    border: 1px solid $color-b;
}

.comment {
    @include font-montserrat-r;
    width: 500px;
    height: 270px;
    padding: 10px;
    background-color: $color-g;
    border: 1px solid $color-b;
}

.comment-button-send {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid $color-b;
    background-color: $color-i;
    color: $color-a;
    cursor: pointer;
}

.form-button-buy {
    
}

.error-comment-box {
    @include flex-jc(flex-start, center);
    width: 500px;
}

.warning,
.warning-buy {
    display: none;
    color: rgb(217, 25, 25);
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}