@media (max-width: 992px) {
    body {
        font-size: 2vw;
    }

    .payment {
        width: 55%;
    }

    .form-input-style {
        width: 25vw;
        font-size: 1.7vw;
    }

    input::placeholder {
        font-size: 1.5vw;
    }

    .modal-window-info-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-align: justify;
        hyphens: auto;
        background-color: white;
        padding: 15px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .top {
        padding-top: 5px;
    }

    .info-style-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card__img-mod-wind {
        width: 21vw;
        margin: 15px;
    }

    .form-button-buy {
        width: 15vw;
        font-size: 1.7vw;
    }

    .error-comment-box {
        font-size: 1.7vw;
    }

    .footer-contacts-text {
        font-size: 1.5vw;
    }
}

@media (max-width: 607px) {
    body {
        font-size: 2.5vw;
    }

    .menu-item {
        font-size: 2vw;
    }

    .book-info-wrapper,
    .book-characters-wrapper,
    .book-comments-wrapper,
    .book-comment-box {
        padding: 15px 25px;
    }

    .payment {
        width: 75%;
    }

    .form-input-style {
        width: 35vw;
        font-size: 2vw;
    }

    input::placeholder {
        font-size: 2vw;
    }

    .form-button-buy {
        width: 20vw;
        font-size: 2.5vw;
    }

    .ebook-quantity-sold,
    .pbook-quantity-sold {
        font-size: 5vw;
    }

    .scroll-top {
        right: 5px;
    }
    
    .scroll-bottom {
        right: 5px;
    }

    .error-comment-box {
        font-size: 2.5vw;
    }

    .footer-contacts-text {
        font-size: 2vw;
    }    
}

@media (max-width: 457px) {
    body {
        font-size: 3.5vw;
    }

    .menu-item {
        font-size: 2.5vw;
    }

    input::placeholder {
        font-size: 2.5vw;
    }

    .scroll-top {
        width: 25px;
        height: 25px;
        top: 50px;
    }

    .bottomToTop {
        margin: 10px 8px 7px 8px;
        border-top: 0 solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $color-b;
        border-left: 5px solid transparent;
    }

    .scroll-bottom {
        width: 25px;
        height: 25px;
        bottom: 100px;
    }

    .bottomToBottom {
        width: 0;
        height: 0;
        margin: 7px 8px 4px 8px;
        border-top: 5px solid $color-b;
        border-right: 5px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 5px solid transparent;
    }

    .payment {
        width: 100%;
    }

    .form-button-buy {
        width: 30vw;
        font-size: 3.5vw;
    }

    .form-input-style {
        width: 35vw;
        font-size: 3.5vw;
    }

    .error-comment-box {
        font-size: 3.5vw;
    }

    .footer-contacts-text {
        font-size: 3vw;
    }
}

@media (max-width: 355px) {
    
}