$block-width: 75vw;

$font-title-h1: 105px;
$font-title-h2: 30px;
$font-size-main: 1.5vw;

$margin: 25px;
$margin-top: 50px;
$margin-top-small: 25px;
$margin-left: 50px;
$margin-left-small: 25px;
$margin-bottom: 50px;
$margin-bottom-small: 25px;
$margin-right: 50px;
$margin-right-small: 25px;

$padding-container: 35px 45px;
$padding: 15px;
$padding-top: 50px;
$padding-top-small: 25px;
$padding-left: 50px;
$padding-left-small: 25px;
$padding-bottom: 35px;
$padding-bottom-small: 25px;
$padding-right: 50px;
$padding-right-small: 25px;

$color-a: #ffffff;
$color-b: #0d0701;
$color-c: #d7a45c;
$color-d: #cfac7c;
$color-e: #ffff00;
$color-f: #c52c11;
$color-g: #fad8a9ec;
$color-h: #fff5c481;
$color-i: #75400b;
// $color-j: 
// $color-k: 
// $color-l: 
// $color-m: 
// $color-n: 
// $color-o: 
// $color-p: 
// $color-q: 
// $color-r: 
// $color-s: 
// $color-t: 
// $color-u: 
// $color-v: 
// $color-w: 
// $color-x: 
// $color-y: 
// $color-z: 